/* ============================================= */
/*                  Utilities                    */
/* ============================================= */

$color-primary: #3B3B3B;
$color-secondary: #FAFAFA;
$color-teritary: #7A7A7A;
$color4: #BABABA;
$color5: #E0E0E0;
$color-accent: #0dcaf0;

/* ============================================= */
/*                  Animation                    */
/* ============================================= */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s .2s cubic-bezier(.47,-0.26,.47,1.26);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (min-width: 768px){
    .col-md-6:nth-child(even){
        transition-delay: 0.4s;
    }
}

@media screen and (min-width: 992px){
    .col-md-6:nth-child(2), .col-md-6:nth-child(4){
        transition-delay: 0.4s;
    }
    .col-md-6:nth-child(3), .col-md-6:nth-child(6){
        transition-delay: 0.6s;
    }
}

/* ============================================= */
/*                  Navigation                   */
/* ============================================= */

#nav-top {
    background-color: $color-secondary;
    .navbar-brand {
        color: $color-primary;
    }
}

.top {
    position: relative;
    color: $color-primary;
}

.top:before, .top:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: $color-accent;
    transition: all 0.3s;
}

.top:before
{
    left: 0px;
    top: 0px;
}

.top:after
{
    right: 0px;
    bottom: 0px;
}

.top:hover:before, .top:hover:after
{
    opacity: 1;
    width: 100%;
}

#navtop .nav-link:focus, #nav-top .nav-link:hover {
    color: $color-accent;
}

#navbarNavAltMarkup .active {
    color: $color-accent;
}

/* ============================================= */
/*                  Cover                        */
/* ============================================= */

#cover-container {
    background-color: $color-secondary;
}

#cover {
    min-height: 100vh;
}

#intro {
    height: 80vh;
    @media screen and (min-width: 576px) {
        height: 70vh; 
    } 
    @media screen and (min-width: 768px) {
        height: 55vh;
    }
    a {
        display: block;
        width: 40%;
        margin: 0 auto;
    }
    p {
        color: $color-teritary;
    }
}

#start {
    font-weight: 500;
}

#view-work {
    color: $color-teritary;
    text-decoration-color: $color-accent;
    &:hover {
        color: $color-primary;
    }
}

/* ============================================= */
/*                  Portfolio                    */
/* ============================================= */

.main-container {
    scroll-behavior: smooth;
}

#portfolio-wrapper {
    color: $color-primary;
    background-color: $color-secondary;
}

#portfolio {
    scroll-margin-top: 100px;
}

.card {
    min-height: 475px;
    top: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    &:hover {
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
    }
    &:hover:before {
        transform: scale(2.15);
    }
    color: $color-secondary;
    background-color: $color-primary;
    @media screen and (min-width: 768px){
        min-height: 507px;
    }
    @media screen and (min-width: 992px){
        min-height: 559px;
    }
}

/* ============================================= */
/*                     About                     */
/* ============================================= */

// #about {
//     background:
//         url("../img/DSC09595.jpg")
//         center/contain
//         no-repeat;
//         // coral;
//     // background-blend-mode: overlay;
//     width:100%;
//     min-height: 100vh;
//     @media screen and (min-width: 565px) {
//         width: 100%;
//         background-size: cover;
//     }
//      @media screen and (min-width: 992px) {
//         // background-position: center top;
//     }
// }

// #h2-about {
//     padding-top: 40rem;
// }

#about {
    scroll-margin-top: 80px;
}

#about img {
    width: 100%;
    max-width: 395px;
}

/* ============================================= */
/*                     Footer                    */
/* ============================================= */

#linkedin, #github {
    transition: all 0.6s;
}

a #linkedin:hover {
    transform: scale(1.2) rotate(10deg);
    .linkedin-bg {
        fill: #0072b1; 
    }
}

#github:hover {
    transform: scale(1.2) rotate(10deg);
    .github-bg {
        fill: #6e5494; 
    }
}

.nav-foot {
    color: $color-primary;
    &:hover {
        color: #0dcaf0;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    color: $color-primary;
    background-color: $color-secondary;
}