/* ============================================= */
/*                  Cover                        */
/* ============================================= */

#cover {
    min-height: 100vh;
}

#intro {
    height: 80vh;
    @media screen and (min-width: 576px) {
        height: 70vh; 
    } 
    @media screen and (min-width: 768px) {
        height: 55vh;
    }
}