/* ============================================= */
/*                     About                     */
/* ============================================= */

#about {
    scroll-margin-top: 80px;
}

#about img {
    width: 100%;
    max-width: 395px;
}