/* ============================================= */
/*                  Variables                    */
/* ============================================= */

$color-primary: #3B3B3B;
$color-secondary: #FAFAFA;
$color-teritary: #7A7A7A;
$color4: #BABABA;
$color5: #E0E0E0;
$color-accent: #0dcaf0;